<%- include('../../partials/header.ejs')  %>
<%- include('../../partials/navbar.ejs') %>

 <div class="container">
    <hr>
    <div class="card">
       <div class="card-header">
        <h2>Novo artigo</h2>
       </div>
       <div class="card-body">
        <form method="post" action="/categories/save">
            <input type="text" class="form-control" name="title" placeholder="Defina o titulo do artigo"><br>
            <button class="btn btn-success">Cadastrar</button>
        </form>
       </div>
    </div>
 </div>


<%- include('../../partials/footer.ejs') %>